* {
  margin: 0;
  padding: 0;
  transition: 1s;
}

html {
  font-size: 16px;
}

@media (max-width: 430px) {
  html {
    font-size: 12.5px;
  }
  .containerHome {
    text-align: center;
    display: grid;
    width: calc(100vw);
    place-items: center;
    /* padding: 12px 50%; */
    gap: 20px;
  }

  .containerHome button {
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.4) !important;
  }

  .containerHome div {
    flex-direction: column-reverse;
  }
  .imgdec {
    max-width: 300px !important;
    margin: 0 auto;
  }
}
li {
  list-style: none;
  list-style: none;
}

header * {
  color: white;
}

a {text-decoration: none;}
a:hover {
  transform: scale(1.1);
}